body{
  overflow-x: hidden;
}
.body1{
    background-image: url("img/bg1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 85vh; 
    overflow: hidden;
  }
  .body2{
    background-image: url("img/body2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 85vh; 
  }
  .body3{
    padding-top: 56px;
    background-image: url("img/body3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh; 
  }
.section1{
    background-image: url("img/section1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120vh;
  }
.section2{
    background-image: url("img/section2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120vh;
  }
.card-custom {
    width: 540px !important;
    height: 570px !important;
    margin: 0 auto; 
    background-color: #641010 !important; 
}
.hh4{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold !important;
}
.img-thumbnail{
    background-color: transparent !important;
    border: none !important;
  }
.terms{
    text-decoration: none !important;
}
.terms:hover{
  text-decoration: underline !important;
}
.img-link{
  text-decoration: none !important;
}
.navbar{
  background-color: #641010 !important;
}
.nav-link{
  font-weight: bold;
}
.btn.btn-outline-danger.text-light.dropdown-toggle{
  border: none !important;

}
.btn.btn-outline-danger.text-light.dropdown-toggle:hover {
  background-color: #dc3545;
}
.dropdown-menu {
  left: 20% !important;
  transform: translateX(-50%);
}
.text-justify {
  text-align: justify !important;
}
.custom-btn{
  border-radius: 30px;
  font-size: 14px;
  padding: 10px;
  font-weight: bold;
}
.danger-link{
  background-color: #800201;
  border: none;
}
.custom-small{
  font-weight: bold !important;
}
.custom-container{
  background-color: #800201 !important;
  border-radius: 30px; 
  border: 1px solid #ffffff; 
  padding: 20px;
}
.submit-btn{
  border-radius: 50px;
  font-size: 15px;
  padding: 5px;
  padding-inline: 15px;
}
.container.bg-danger.py-4.ps-5.mt-5{
  background-color: #800201 !important;
  border-radius: 30px; 
  border: 2px solid #ffffff; 
}