.body1{
    background-image: url("img/bg1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 85vh; 
    overflow: hidden;
  }
.card-custom {
    width: 540px !important;
    height: 570px !important;
    margin: 0 auto; 
    background-color: #641010 !important; 
}
.hh4{
  font-weight: bold;
}
.img-thumbnail{
    background-color: transparent !important;
    border: none !important;
  }
.terms{
    text-decoration: none !important;
}
.terms:hover{
  text-decoration: underline !important;
}
.img-link{
  text-decoration: none !important;
}
.navbar{
  background-color: #641010 !important;
}
.nav-link{
  font-weight: bold;
}
.btn.btn-outline-light.dropdown-toggle.text-light{
  border: none !important;

}
.btn.btn-outline-light.dropdown-toggle.text-light:hover {
  background-color: #861515;
}